
    @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');

    *
     {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-align: center;
        font-family: 'PT Sans Narrow', serif;
        font-size: 1.1rem;
    }

    body
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        min-height: 100vh;
        /* background-color: #120258; */
        background-image: linear-gradient(to right, rgba(255, 0, 34, 0.616) , rgb(162, 0, 255));
    }
    
        
      
    a {
        color: unset;

    }

    .container {
        width: 80vw;
        padding: 50px 20px;
        background-color: rgba(255, 255, 255, 0.05);
        margin: 100px auto;
        backdrop-filter: blur(15px);
        border-bottom: 2px solid rgb(255, 255, 255, 0.05);
        border-right: 2px solid rgb(255, 255, 255, 0.05);

    }



    table {
        width: 100%;
        padding: 15px;
        border-collapse: collapse;
    }
    tr td{
        border-right:3px solid transparent;
    }
    .header-row {
        border-bottom: 1px solid rgb(206, 189, 189);
    }


    .header-row th {
        padding-bottom: 10px;
    }


    img {
        width: 18px;
        display: inline;
        transform: translateY(2px);
        margin-right: 4px;
    }

    .circle1 {
        height: 500px;
        width: 500px;
        border-radius: 50%;
        background: rgb(63, 94, 251);
        background: linear-gradient(326deg, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 124, 1) 100%);
        position: fixed;
        top: -150px;
        left: -50px;
        z-index: -1;
        transition: width 2s, height 1s;
    }

    .circle2 {
        height: 500px;
        width: 500px;
        border-radius: 50%;
        background: #C02425;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #ab35f0, #2448c0);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #ab35f0, #2448c0);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


        position: fixed;
        top: 150px;
        right: -50px;
        z-index: -1;
    }

    
    @media screen and (max-width:720px) {
        * {
            font-size: 0.8rem;
        }

        .container {
            width: 94vw;
            margin: 30px auto;
            padding:30px 15px;
        }
        .circle1{
            width:250px;
            height:250px;
           
        }
        .circle2{
            width:250px;
            height:250px;
            
            
        }
    }
